body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(329deg, #3f87a6, #ebf8e1, #f69d3c, #3f87a6, #ebf8e1, #f69d3c);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
}

@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
:focus {
  outline: none;
}
#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 20px;
  color: #0f0;
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
  animation: glow 1s ease-in-out infinite alternate;
  animation: glow 5s ease-in-out infinite alternate, borderColorCycle 20s linear infinite;
    border: 2px solid #0f0;
}
@keyframes borderColorCycle {
  0% { border-color: #0f0; }
  25% { border-color: rgb(233, 38, 223); }
  50% { border-color: rgb(122, 122, 160); }
  75% { border-color: #0ff; }
  100% { border-color: #0f0; }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
  }
  25% {
    box-shadow: 0 0 10px rgb(156, 20, 209), 0 0 20px rgb(103, 5, 122), 0 0 30px rgb(195, 212, 203), 0 0 40px #f00;
  }
  50% {
    box-shadow: 0 0 10px rgb(66, 66, 124), 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f;
  }
  75% {
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff;
  }
  100% {
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
  }
}




#minutes,
#seconds {
  width: 150px;
  color: #333;
  text-align: center;
  padding: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #0f0;
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
}
input[type="number"] {
  font-size: 20px;
}


input[type="number"]::placeholder {
  font-size: 20px; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: #0f0; 
    color: #912020; 
}

keyframes glow {
  from {
      box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0;
  }
  to {
      box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
  }
}
h1 {
  font-family: monospace;
    font-size: 50px;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(5, 31, 5);
    text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
    margin: 0;
    
}
.Heading {
  margin-right: 30px;
}



#startBtn, #resetBtn {
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #0f0;
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}


.time-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#audioWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  font-size: large;
  height: 100%;
    z-index: -1;
  
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}